[{rabbitmq_shovel,
    [ {shovels, [ {my_books_shovel,
                    [
                     {sources, [ {broker, "amqp://yourrabbitmqip"}]}
                    , {destinations, [ {broker, "amqp://"}]}
                    , {queue, <<"myBooksQueueCopy">>}
                    , {prefetch_count, 10}
                    , {reconnect_delay, 5}
                    ]}
                ]}
    ]}
].