<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <rabbitmqExtension>
        <binding name="rabbitmqBinding" hostname="localhost" port="5672"
          oneWay="true" protocolversion="AMQP_0_9_1" />
      </rabbitmqExtension>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="rabbitmqExtension" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="WcfLib.Service1Behavior" name="WcfLib.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="WcfLib.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="Service1" binding="rabbitmqExtension" bindingConfiguration="rabbitmqBinding"
          name="Service1" contract="WcfLib.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///" />
            <add baseAddress="http://localhost:8731/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfLib.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
