[{rabbitmq_shovel,
    [ {shovels, [ {my_shovel,
                    [
                     {sources, [ {brokers, 
                                    [ "amqp://rabbitmqc1IP"
                                    , "amqp://rabbitmqc2IP"
                                    ]},
                                        {declarations, [
                                              {queue.declare, 
                                              [{queue, <<"mirr.myshovelqueuecluster1">>},durable]}
                                              , {'queue.bind',
                                              [ {exchange, <<"myBooksExchange">>}
                                              , {queue,    <<"mirr.myshovelqueuecluster1">>}
                                              , {routing_key, <<"#">>}
                                              ]}
                                         ]}]}

                    , {destinations, [ {broker, "amqp://"},
                          {declarations, [
                                                {'exchange.declare', [ {exchange, <<"my_exchange">>}
                                                , {type, <<"topic">>}
                                                , durable
                                                ]},

                          {queue.declare, [{queue, <<"my_queue">>},durable]}
                                              , {'queue.bind',
                                              [ {exchange, <<"my_exchange">>}
                                              , {queue,    <<"my_queue">>}
                                              , {routing_key, <<"#">>}
                                              ]}
                                         ]}
                    ]}
                    , {queue, <<"mirr.myshovelqueuecluster1">>}
                    , {prefetch_count, 10}
                         ,{publish_fields, [ {exchange, <<"my_exchange">>}, 
                          {routing_key, <<"from_cluster_1">>} ]}
                    , {reconnect_delay, 5}
                    ]}
                ]}
    ]}
].