[{rabbitmq_shovel,
    [ {shovels, [ {my_rome_shovel,
                    [
                     {sources, [ {broker, "amqp://rabbitmqc1IP"},
                                                {declarations, [
                                                {'exchange.declare', [ {exchange, <<"myBooksExchange">>}
                                                , {type, <<"topic">>}
                                                , durable
                                                ]},
                                              {queue.declare, [{queue, <<"romeorders">>},durable]}
                                              , {'queue.bind',
                                              [ {exchange, <<"myBooksExchange">>}
                                              , {queue,    <<"romeorders">>}
                                              , {routing_key, <<"rome">>}
                                              ]}
                                         ]}]}

                    , {destinations, [ {broker, "amqp://"},
                          {declarations, [
                                                {'exchange.declare', [ {exchange, <<"my_exchange">>}
                                                , {type, <<"topic">>}
                                                , durable
                                                ]},

                          {queue.declare, [{queue, <<"my_queue">>},durable]}
                                              , {'queue.bind',
                                              [ {exchange, <<"my_exchange">>}
                                              , {queue,    <<"my_queue">>}
                                              , {routing_key, <<"#">>}
                                              ]}
                                         ]}
                    ]}
                    , {queue, <<"romeorders">>}
                    , {prefetch_count, 10}
                         ,{publish_fields, [ {exchange, <<"my_exchange">>}, {routing_key, <<"from_rome_order">>} ]}
                    , {reconnect_delay, 5}
                    ]}
                ]}
    ]}
].